{
  "extends": "airbnb-base",
  "rules": {
    "implicit-arrow-linebreak": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": "off",
    "arrow-parens": ["error", "as-needed"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
